body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
p{
  margin: 0;
}
h1 {
  margin: 80px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 90px;
  color: #C65D7B;
}
h2{
  font-size: 2.0rem;
  color: #C65D7B;
  font-weight: normal;
  margin: 0;
  padding-bottom: 10px;
}
.WorkExperience{
  padding-top: 20px;
}
.TopContainer {
  background-color: #F6E7D8;
  position: relative;
  padding-top: 100px;

}

.Flower{
  position: absolute;
  right: 200px;
  top: 50px;
  width: 50px;
  border-radius: 100%;
}
.Exp-row-img3{
  border-radius: 100%;
  width: 15%;
  height: 25%;
  float: center;
  margin-right: 30px;
}
.Exp-row-img2{
  width: 15%;
  height: 25%;
  float: center;
  margin-left: 30px;
  border-radius: 100%;
}
.Exp-row-img1{
  border-radius: 100%;
  width: 15%;
  height: 25%;
  float: center;
  margin-right: 30px;
}
.pro {
  text-decoration: underline;
}
hr{
  border-color: black;
  border-style: dotted none none;
  border-width: 5px;
  width: 10%;
}
.Harvi {
  width: 350px;
  height: 450px;
  border-radius: 100%;
}
h3{
  color: #874356;
}
.link{
  color: #F6E7D8;

}
.btn{
  color: #F6E7D8;
}
.Phone{
  color: #F6E7D8;
  text-decoration: underline;
}
.MiddleContainer {
  background-color: #F2D1D1;
    padding: 0;
    margin: 0;
    border: 0;
  /*padding: 20px;
  position:absolute;
  bottom: 280px;
    border: 10px;
  left: 260px;*/
}
.MidContainer{
  background-color: #F68989;
    padding-top: 0;
    margin: 0;
}
.Skills{
  background-color: #C65D7B;
}
.BottomContainer {
  background-color: #874356;
  padding-top: 20PX;

  /*   padding: 20px;
  position:absolute;
  top: 540px;
    border: 10px;
  left: 540px;*/
}
.Exp-row1{
  width: 100%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;

}
.Exp-row2{
  width: 100%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
}
.Exp-row3{
  width: 100%;
  margin: 100px auto 0 auto;
  text-align: center;
  line-height: 2;
}
.Profile{
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
}
